@page "/inspector"
@page "/"
@using Operations.BackOffice.Client.Data.ProcessInstances;

@inject IProcessInstanceService processInstanceService;

<h3>BPMN</h3>

<MudFileUpload T="IBrowserFile" FilesChanged="OpenDiagram">
    <ButtonTemplate>
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.OpenInBrowser"
                   for="@context">
            Open BPMN Diagram
        </MudButton>
    </ButtonTemplate>
</MudFileUpload>

@if (_bpmnFile != null)
{
    <bpmn-viewer xml="@_bpmnFile"></bpmn-viewer>
}

@code {

    private string _bpmnFile;

    private async Task OpenDiagram(IBrowserFile file)
    {
        var stream = file.OpenReadStream();

        _bpmnFile = await ToBPMNXml(stream);

        await InvokeAsync(StateHasChanged);
    }

    async Task<string> ToBPMNXml(Stream stream)
    {
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);
        memoryStream.Position = 0;

        return System.Text.Encoding.ASCII.GetString(memoryStream.ToArray());
    }
}
